<div class="table-container">

    <table id="data-table">
        <thead>
            <tr>
                <th>No. Producto</th>
                <th>Imagen</th>
                <th>Título</th>
                <th>Precio Unitario</th>
                <th>No. Total de Ventas</th>
                <th>Importe Total</th>
            </tr>
        </thead>
        <tbody id="data-table-body">
            <!-- Aquí se generará la tabla dinámicamente -->
            <tr *ngFor="let product of productList">
                <td>{{ product.id }}</td>
                <td><img [src]="imagePath + product.image" [alt]="product.id"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price | currency}}</td>
                <td>{{ product.totalSalesNumber}}</td>
                <td>{{ product.totalSalesPrice | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="message" *ngIf="productList.length === 0">
    <p>{{ loadingProducts ? 'Cargando...' : 'No se encontraron registros...'}}</p>
</div>